<!DOCTYPE html>
<html>
        <head>
                <title>Ini web apalah</title>
                <link rel="stylesheet" href="/static/style.css">
        </head>
        <body>
                <div class="scroll">
                        <div class="m-scroll">
                                <span>Apalah</span>
                                <span>Apalah</span>
                                <span>Apalah</span>
                                <span>Apalah</span>
                                <span>Apalah</span>
                                <span>Apalah</span>
                        </div>
                </div>
                <h1 style='background-color: black; color: white;'>Coy</h1>
                <p>ini merupakan paragraf</p>
        </body>
</html>